<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('styles/main.css') }}" type="text/css" rel="stylesheet" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div id="container">
            <div id="header">
                <p id="logo">Custom CMS</p>
                <div id="nav">
                    <a href="{{ path('custom_cms_homepage') }}">Home</a>
                    {% if is_granted('ROLE_ADMIN') %}
                        | <a href="{{ path('cms_user_index') }}">Users</a> |
                        <a href="{{ path('cms_category_index') }}">Categories</a> |
                        <a href="{{ path('cms_page_index') }}">Pages</a> |
                    {% elseif is_granted('ROLE_USER') %}
                         | <a href="{{ path('cms_page_index') }}">Pages</a> |
                    {% endif %}

                    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_USER') %}
                        <a href="{{ path('logout') }}">Logout</a>
                    {% endif %}
                </div>
            </div>

            {% block body %}{% endblock %}
            {% block javascripts %}{% endblock %}
        </div>
    </body>
</html>
